body{
    margin: 0;
}


.footer-container{
    background-color: darkmagenta;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 80px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}